.form-style{
    background-color: #9E0D0D;
    border: 10px double black;
    width: 200px;
    float: left;
    align-content: center;
    z-index: 2;
    
    
}

.form-heading {
    background-color: black;
    color: white;
    
}