.search-layout {
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 2%;
    Margin-left: 40%;
    width: 20%;
    border: 2px black double ;
    background-color: black;
}

.grid{
    position: relative;
    display: grid;
    place-content: center;
}

