.search-layout {
    font-size: 1rem;
    margin-top: 2%;
    Margin-left: 40%;
    width: 20%;
    border: 2px black double ;
    background-color: #9E0D0D;
}

.grid{
    position: relative;
    display: grid;
    place-content: center;
}

