Body {
    overflow: hidden;
  background-color: #262525;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #262525 125px
    ),
    repeating-linear-gradient(#9e0d0d55, #9e0d0d);
}

.grid {
  display: grid;
  place-content: center;
}

.nav {
  height: 40px;
  background-color: #262525;
}

.nav-link {
  padding: 8px;
  border-radius: 5px;
  margin-right: 20px;
  height: 20px;
  background-color: #9e0d0d;
  text-align: center;
  color: white;
}

.center {
  margin-left: 10px;
}

